services:
  postgres:
    image: postgres:16-alpine
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nextjs_ecommerce
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
